form{
    width: max(min(500px, 50%), 250px);
}

.logo{
    width: 200px;
}

input:user-invalid{
    border-color: transparent;
    animation: invalid-animation 2s ease 0s 1 normal forwards;
}

@keyframes invalid-animation {
	0%,
	50%,
	100% {
		box-shadow: 0 0 0 3.25px rgba(220, 53, 69, 0.55);
	}

	25%,
	75% {
		box-shadow:none;
	}
}